.TableItem__body {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 10px 0;
}

.TableItem__dayOfWeek {
  text-transform: capitalize;
  font-size: var(--font-size-normal);
  font-weight: 500;
}

.TableItem__separator {
  height: 1px;
  background-color: var(--color-grey2);
}

.TableItem__closed {
  color: var(--color-grey3);
}

.TableItem__value {
  max-width: 50%;
  text-align: right;
}

.TableItem__isToday {
  color: var(--color-green);
  text-transform: uppercase;
  flex: 1;
  margin-left: 10px;
  font-size: var(--font-size-small);
}
