:root {
  --color-black: #202125;
  --color-white: #ffffff;
  --color-green: #5bcb02;
  --color-grey1: #f8f8f8;
  --color-grey2: #eeeeee;
  --color-grey3: #a1a2a4;

  --font-size-header: 24px;
  --font-size-normal: 16px;
  --font-size-small: 12px;
}
